<h1>New Event</h1>
<hr>
<div class="col-md-6">
  <form #newEventForm="ngForm" (ngSubmit)="saveEvent(newEventForm.value)" autocomplete="off" novalidate>
    <div class="form-group">
      <label for="eventName">Event Name:</label>
    </div>
  </form>
  <br />
  <button type="submit" class="btn btn-primary">Save</button>
  <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
</div>