<div [routerLink]="['/events', event.id]" class="well hoverwell thumbnail">
  <h2>{{event?.name}} {{event.id}}</h2>
  <div>Date: {{event?.date}}</div>
  <div [ngClass]="getStartTimeClass()" [ngStyle]="getStartTimeStyle()" [ngSwitch]="event?.time">
      Time: {{event?.time}}
      <span *ngSwitchCase="'8:00 am'">(Early Start)</span>
      <span *ngSwitchCase="'10:00 am'">(Late Start)</span>
      <span *ngSwitchDefault>(Normal Start)</span>
  </div>
  <div>Price: ${{event?.price}}</div>
  <div [hidden]="!event?.location">
      <span>Location: {{event?.location?.address}}</span>
      <span class="pad-left">{{event?.location.city}}, {{event?.location.country}}</span>
  </div>
</div>