<div>
  <h1>Upcoming Angular Events</h1>
  <hr />
  <div class="row">
      <div *ngFor="let event of events" class="col-md-5">
          <event-thumbnail [event]="event" (click)="handleThumbnailClick(event.name)"></event-thumbnail>
      </div>
  </div>
</div>