<h1>Login</h1>
<hr>
<div class="col-md-4">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" autocomplete="off">
        <div class="form-group">
            <label for="userName">User Name:</label>
            <em *ngIf="loginForm.controls.userName?.invalid &&
             (loginForm.controls.username?.touched || mouseoverLogin)">Required</em>
            <!-- Gives us extra forms-related functionality, banana-in-a-box syntax (represents two-way binding) -->
            <input (ngModel)="userName" required id="userName" name="userName" type="text" class="form-control" placeholder="User Name"/>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <em *ngIf="loginForm.controls.userName?.invalid &&
            (loginForm.controls.username?.touched || mouseoverLogin)">Required</em>
            <input (ngModel)="password" required id="password" name="password" type="password" class="form-control" placeholder="Password"/>
        </div>
        <!-- Will display the error messages when the fields are empty && hovered over login btn or fields are touched -->
        <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
            <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
        </span> 
        <button type="button" class="btn btn-default">Cancel</button>
    </form>
</div>