em {
  float: right;
  color: red;
  padding-left: 10px;
}

.error input {
  background-color: #E3C3C5;
}

.error ::-webkit-input-placeholder {
  color: #999;
}

.error ::-moz-placeholder {
  color: #999;
}

.error :-moz-placeholder {
  color: #999;
}

.error :-ms-input-placeholder {
  color: #999;
}